* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: black;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}



/* - - - - - MENU - - - - - */
#menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdd485;
    width: 100vw;
    height: 100vh;
}


#menu img {
    position: absolute;
    z-index: 5;
}
#menu #brazilmap {
    top: -20vh;
    height: 150vh;
    animation: menu-images 5s forwards ease-in-out;
}
#menu #christ {
    top: 10vh;
    height: 120vh;
    z-index: 6;
    animation: menu-images 5s forwards ease-in-out;
}
@keyframes menu-images {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    100% {
        margin-left: 60vw;
    }
}


#menu #display {
    width: 35vw;
    height: 70vh;
    background-color: white;
    padding: 1vw;
    border-radius: 1vw;
    z-index: 1;
    animation: menu-display 5s forwards ease-in-out;
}
@keyframes menu-display {
    0% {
        margin-right: 0;
    }
    20% {
        margin-right: 0;
    }
    100% {
        margin-right: 50vw;
    }
}