* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* - - - - - MENU - - - - - */
#menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdd485;
    width: 100vw;
    height: 100vh;
}


#menu img {
    position: absolute;
    z-index: 5;
}
#menu #brazilmap {
    top: -20vh;
    height: 150vh;
    animation: menu-images 2s forwards ease-in-out;
}
#menu #christ {
    top: 10vh;
    height: 120vh;
    z-index: 6;
    animation: menu-images 2s forwards ease-in-out;
}
@keyframes menu-images {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 60vw;
    }
}


#menu #display {
    width: 40vw;
    height: 70vh;
    border: 0.3vw solid white;
    border-radius: 1vw;
    z-index: 1;
}